**Question 1**

What is the output of the following code?
x = [1, 2, 3, 4]
print(x[1:3])

a) [1, 2]
b) [2, 3]
c) [1, 2, 3]
d) [2, 3, 4]

In [1]:
import numpy as np
x = np.array([1, 2, 3, 4])
print(x[1:3])

[2 3]

**Question 2 **


Which of the following data types is immutable?
a) List
b) Dictionary
c) Set
d) Tuple

Tuples in Python are immutable

Question 3

What is the output of the following code?
x = "hello"
print(x[::-1])

a) olleh
b) hello
c) ehllo
d) Error

In [2]:
x= "hello"
print(x[::-1])

olleh

Question 4

Which of the following statements is true about Python functions?
a) A function in Python can return multiple values
b) A function in Python must always return a value
c) A function in Python can return at most one value
d) A function in Python cannot return a value

Answer : B

Question 5
Which of the following statements creates a dictionary in Python?
a) dict = {}
b) dict = []
c) dict = ()
d) dict = set()

In [3]:
dict = {}

Question 6

What is the correct syntax for defining a class in Python?
a) class MyClass[]:
b) class MyClass:
c) def MyClass:
d) function MyClass:

Ans :b

Question 7

What does the len() function do?
a) It returns the length of a list or string
b) It returns the maximum value in a list
c) It returns the minimum value in a list
d) It converts a number to a string

Answer : a It returns the length of a list or string

Question 8

Which of the following methods adds an element to the end of a list?
a) list.add(x)
b) list.append(x)
c) list.insert(x)
d) list.extend(x)

Ans : b list.append(x)

Question 9

Which of the following is used to handle exceptions in Python?
a) try and except
b) catch and except
c) try and catch
d) do and except

Ans : c : try and catch

Question 10

What is the result of the following code?
a = [1, 2, 3]
b = a
b.append(4)
print(a)

a) [1, 2, 3]
b) [1, 2, 3, 4]
c) [4, 1, 2, 3]
d) [1, 2, 3, 4, 4]

Ans : b [1, 2, 3, 4]

In [4]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

Question 11

Write a Python Programme to calculate the number of Digits and Letters in a string
Sample Input = 123  -> Sample Output = 6

In [8]:
def sum(number):
    total = 0


    for digit in str(number):
        total =total+ int(digit)

    return total
number = 789
sum_digits = sum(number)
print(sum_digits)

24

Question 12
Given an integer  n, perform the following conditional actions:
Write Python Logic
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5 , print Not Weird
If n is even and in the inclusive range of 6 to 20 , print Weird
If n is even and greater than 20 , print Not Weird
Input Format
-----------------
A single line containing a positive integer, n.

Constraints
-------------
1<=n<=100
Output Format
----------------
Print Weird if the number is weird. Otherwise, print Not Weird.

Sample Input 0
----------------
3
Sample Output 0
-----------------
Weird
Explanation 0
---------------------
n=3  is odd and odd numbers are weird, so print Weird.
Sample Input 1
-------------------------
24
Sample Output 1
-------------------------
Not Weird
Explanation 1
---------------------------
n > 20  and n  is even, so it is not weird.

In [9]:
def weird(n):
    if i % 2 == 1:
        print("Weird")
    elif i % 2 == 0 and 2 <= i <= 5:
        print("Not Weird")
    elif i % 2 == 0 and 6 <= i <= 20:
        print("Weird")
    elif i % 2 == 0 and i > 20:
        print("Not Weird")


i = int(input("Enter a integer: "))
weird(i)

Enter a integer: 15
Weird

In [ ]:
Question 13
Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string.
sample input : data sCience 12444
sample output :
upper case : 1
lower case : 10
numbers : 5
space : 2

In [10]:
def count_char(input):
    upper = 0
    lower = 0
    numbers = 0
    spaces = 0

    for char in input:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
        elif char.isdigit():
            numbers += 1
        elif char.isspace():
            spaces += 1

    return upper, lower, numbers, spaces


input_string = "data sCience 12444"

# Count characters
upper_case, lower_case, numbers, spaces = count_char(input_string)

# Output the result
print(f"Upper case: {upper_case}")
print(f"Lower case: {lower_case}")
print(f"Numbers: {numbers}")
print(f"Spaces: {spaces}")

Upper case: 1
Lower case: 10
Numbers: 5
Spaces: 2

In [ ]:
Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters

sample input : PYTHON data science
sample output : PYTHON DATA SCIENCE

In [11]:
def to_uppercase(str):
    upper_count = 0

    for char in str[:4]:
        if char.isupper():
            upper_count += 1

    if upper_count >= 2:
        return input_string.upper()


input_string = "PYTHON data science"
result = to_uppercase(input_string)
print(result)

PYTHON DATA SCIENCE

print each value from the list with its index
input = [10,11,50,34]
Expected output = [100 , 111 , 502 , 343]

In [17]:
input=[10,11,50,34]
for i in range(len(input)):
    input[i] = input[i]*10+i
print(input)

[100, 111, 502, 343]

Question 16
L =  [ [ 12, 34, 25], [1, 45, 0] ]
# find only the odd values from the above list
 Out = [25, 1, 45]

In [18]:
L= [ [ 12, 34, 25], [1, 45, 0] ]
odd_values = []

for sublist in L:
    for value in sublist:
        if value % 2 == 1:
            odd_values.append(value)

print(odd_values)

[25, 1, 45]

Take Input
A = 98
B = 99
Output = bc
Understand the Logic Between Input and Output and Write Python Script here

In [19]:
A= 98
B= 99
print(chr(A),chr(B))

b c