<a href="https://colab.research.google.com/github/adityasahu88/Python-Assignment/blob/main/Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [1]:
# Please write The solution Here for above question 1:
var = [10,11,12,13]
count = 0
for i in var:
    count =count+1
print(count)

4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [2]:
# Please write The solution Here for above question 2:

var = [10,11,12,13,14,15]
print("max = ",max(var))
print("min = ",min(var))

max =  15
min =  10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [ ]:
# Please write The solution Here for above question 3:
var = [1,2,3,4,2,5]
var.remove(2)
print(var)

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [3]:
# Please write The solution Here for above question 4:
var = [1,2,3,4,2,5]
sum = 0
for i in var:
    sum = sum+i
print(sum/len(var))

2.8333333333333335

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [4]:
# Please write The solution Here for above question 5:
var1 = [1,2]
if len(var1) == 0:
    print("empty")
else:
    print("Not empty")

Not empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [5]:
# Please write The solution Here for above question 6:
var = [1,2,3,4,2,5]
print(var.index(2))

1

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [6]:
# Please write The solution Here for above question 7:
var = ['134','121','155']
for element in var:
    if element == element[::-1]:
        print(element,"is a palindrome")
    else:
        print(element,"is not a palindrome")

134 is not a palindrome
121 is a palindrome
155 is not a palindrome

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [8]:
# Please write The solution Here for above question 8:
var1 = [1,2,3,4,10]
var2 = [10,2,12,14]
for element in var1:
    if element in var2:
        print(element)

2
10

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [9]:
# Please write The solution Here for above question 9:
var = [10,11,12,10,12,24]
print(list(set(var)))

[24, 10, 11, 12]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [10]:
# Please write The solution Here for above question 10:
var = ['a' , 'c' , 'b']
print(sorted(var))

['a', 'b', 'c']